/*!
 * Page Layout
 */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: $font-body;
    color: $gray;
    background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: $font-heading;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: $blue;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: lighten($blue, 20%);
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid lighten($gray,60%);
    text-transform: uppercase;
    font-family: $font-heading;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 18px;
    color: $white;
}

.navbar-toggle {
	color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: $gray;
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

/* Sections */
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url('../img/hero.jpg') no-repeat bottom center scroll;
    background-color: #000;
    background-size: cover;
    
    &:before {
	        content: '';
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    background-image: linear-gradient(to bottom, rgba($blue, 0.8) 0%, rgba($blue, 1) 100%);
		    background-image: -webkit-linear-gradient(to bottom, rgba($blue, 0.8) 0%, rgba($blue, 1) 100%);
		    background-image: -moz-linear-gradient(to bottom, rgba($blue, 0.8) 0%, rgba($blue, 1) 100%);
		    background-image: -ms-linear-gradient(to bottom, rgba($blue, 0.8) 0%, rgba($blue, 1) 100%);
		    opacity: 1;
		    z-index: 2;
    }
   
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    position: relative;
	z-index: 3; //on top of gradient overlay
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
    strong {
	    color: $green;
	    text-decoration: underline;
    }
}


/* sec 1 */
.about-section {
	padding-top: 100px;
	padding-bottom: 50px;
    color: $gray;
    background-color: $white;
    background-size: cover;
        ul {
	        font-family: inherit;
	        font-size: 20px;
	        text-align: left;
        }
}

/* sec 2 */
.download-section {
    width: 100%;
    padding: 0;
    color: #fff;
    background: $blue;
    > .container {
	    padding: 100px 0;
    }
}
/* sec 3 */
.contact-section {
    padding-top: 100px;
	padding-bottom: 50px;
}

/* footer */
footer {
    padding: 60px 0;
    border-top: 1px solid lighten($gray,60%);
}

footer p {
    margin: 0;
    font-size: 16px;
    text-transform: lowercase;
}

/* Buttons */
.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: $font-heading;
    font-weight: 400;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid $blue;
    color: #fff;
    background-color: transparent;
}

.btn-dark {
	border: 1px solid $gray;
	color: $gray;
	
	&:hover {
		color: $white;
		background-color: $blue;
	}
	
}

.btn-white {
	border: 1px solid $white;
	color: white;
	
	&:hover {
		border-color: $gray;
		color: $gray;
		background-color: white;
	}
	
}

.twitter {
	&:hover {
		background-color: $twitter;
		border: 1px solid darken($twitter, 20%);
	}
}

.facebook {
	&:hover {
		background-color: $facebook;
		border: 1px solid darken($facebook, 20%);
	}
}

.gplus {
	&:hover {
		background-color: $gplus;
		border: 1px solid darken($gplus, 20%);
	}
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #fff;
    outline: 0;
    color: #fff;
    background-color: $blue;
}

ul.banner-social-buttons {
    margin-top: 0;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: $white;
    background: 0 0;
    transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: $white;
    background: $blue;
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -webkit-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: pulse;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* Selections */
::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}